// Figgins
// ============================================================================
@font-face
  font-family 'Figgins'
  src url('/assets/fonts/Figgins/Figgins.woff') format('woff'),
      url('/assets/fonts/Figgins/Figgins.ttf') format('truetype')

Figgins()
  font-family 'Figgins', Arial, sans

// Figgins Thin
// ============================================================================
@font-face
  font-family 'Figgins Thin'
  src url('/assets/fonts/Figgins/FigginsThin.woff') format('woff'),
      url('/assets/fonts/Figgins/FigginsThin.ttf') format('truetype')

FigginsThin()
  font-family 'Figgins Thin', Arial, sans

// William
// ============================================================================
@font-face
  font-family 'William'
  src url('/assets/fonts/William/William.woff') format('woff'),
      url('/assets/fonts/William/William.ttf') format('truetype')

William()
  font-family 'William', Arial, sans-serif

// William
// ============================================================================
@font-face
  font-family 'William Italic'
  src url('/assets/fonts/William/WilliamItalic.woff') format('woff'),
      url('/assets/fonts/William/WilliamItalic.ttf') format('truetype')

WilliamItalic()
  font-family 'William Italic', Georgia, sans-serif
  font-weight normal
  font-style normal

// Pure
// ============================================================================
@font-face
  font-family 'Pure'
  src url('/assets/fonts/Pure/Pure.woff2') format('woff2'),
      url('/assets/fonts/Pure/Pure.woff') format('woff'),
      url('assets/fonts/Pure/Pure.ttf') format('truetype')

.icon
  font-family 'Pure'
  display inline-block
  vertical-align middle
  font-size inherit
  text-rendering auto
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  position relative
  line-height .5
  text-transform none

.i-banan
  &:before
    content "\45"

.i-lock
  &:before
    content "\46"

.i-pea
  &:before
    content "\42"

.i-logo-thin
  &:before
    content "\41"

.i-mark
  &:before
    content "\43"

.i-stub
  &:before
    content "\44"

.i-loly
  &:before
    content "\47"
.i-peach
  &:before
    content "\48"

.i-vint-3
  &:before
    content "\49"

.i-vint-2
  &:before
    content "\4a"

.i-vint
  &:before
    content "\4b"

.i-rose
  &:before
    content "\4c"

.i-shell-2
  &:before
    content "\4d"

.i-clock
  &:before
    content "\4e"

.i-shell
  &:before
    content "\4f"

.i-right-arr
  &:before
    content "\50"

.i-mail
  &:before
    content "\51"

.i-fb
  &:before
    content "\52"

.i-tw
  &:before
    content "\53"

.i-im
  &:before
    content "\54"

.i-apple
  &:before
    content "\55"

.i-play
  &:before
    content "\56"

.i-logo-bold
  &:before
    content "\57"

.i-pure
  &:before
    content "\58"

.i-Y
  &:before
    content "\59"

.i-Z
  &:before
    content "\5a"

.i-a
  &:before
    content "\61"

.i-b
  &:before
    content "\62"

.i-icon
  &:before
    content "\63"

.i-download
  &:before
    content "\64"

.i-storm
  &:before
    content "\65"

.i-money
  &:before
    content "\66"

.i-cuffs
  &:before
    content "\67"

.i-sign
  &:before
    content "\68"

.i-1
  &:before
    content "\69"

.i-2
  &:before
    content "\6a"

.i-3
  &:before
    content "\6b"

.i-4
  &:before
    content "\6c"

.i-5
  &:before
    content "\6d"

.i-6
  &:before
    content "\6e"

.i-7
  &:before
    content "\6f"

.i-8
  &:before
    content "\70"

.i-9
  &:before
    content "\71"

.i-10
  &:before
    content "\72"

.i-11
  &:before
    content "\73"

.i-12
  &:before
    content "\74"

.i-13
  &:before
    content "\75"

.i-14
  &:before
    content "\76"

.i-15
  &:before
    content "\77"

.i-16
  &:before
    content "\78"

.i-17
  &:before
    content "\79"

.i-tube
  &:before
    content "\7a"

.i-18
  &:before
    content "\30"

.i-20
  &:before
    content "\31"

.i-21
  &:before
    content "\32"

.i-vk
  &:before
    content "\33"

.i-19
  &:before
    content "\34"

.i-peach-bold
  &:before
    content: "\28"

.i-loly-bold
  &:before
    content: "\29"